/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*utility classes*/

    .mobile {
      display: block;
    }

    .touchPad, .desktop {
      display: none;
    }

   .container, .smallContainer {
     margin: auto;
   }

   .flex {
     display: flex;
     flex-wrap: wrap;
   }

   .between {
     justify-content: space-between;
     align-items: center;
   }

   .end {
     justify-content: flex-end;
     align-items: center;
   }

   .row {
     flex-direction: column;
   }

   .separateItems * {
     margin-right: 1em;
   }

   .tCenter {
     text-align: center;
   }

   /*Common rules*/

   * {
     font-family: 'Open Sans', sans-serif;
   }


   ul {
     list-style-type: none;
   }

   h3 {
     font-family: 'Dancing Script';
     font-size: 2em;
   }
   body {
     margin: 0;
   }


/* <!-- //////////////////////////////////////// START HEADER /////////////////////////////////////////////////// --> */

  /* <!-- heading of the page--> */

  header {
    background-color: #fe654f;
    padding: 0.1em;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .topnav {
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .active {
    background-color: #4CAF50;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

  #myHeader ul {
    margin-top: 0;
  }

  #myHeader {
    height: 8vh;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (min-width: 600px) {
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
  }
/* <!-- //////////////////////////////////////// END HEADER /////////////////////////////////////////////////// --> */



/* <!-- //////////////////////////////////////// START MAIN /////////////////////////////////////////////////// --> */

/* <!-- ////////////// section home with img, name and job ////////////--> */

main {
  background-color: #fed99b;
  padding-bottom: 1em;
}

#home {
  position: relative;
  height: 92vh;
  justify-content: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fed99b;
  opacity: 0.9;
  z-index: 1;
}

#homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 80%;
  width: 40%;
  top: 10%;
  left: 30%;
  z-index: 2;
}

.home img {
  width: 40vh;
  height: 35vh;
}

.home h1 {
  width: 70%;
  text-align: center;
  margin-bottom: 0.2em;
  font-family: 'Lobster';
  font-family: 'Dancing Script';
  font-size: 1.5em;
}

.home h2 {
  width: 70%;
  text-align: center;
  font-family: 'Lobster';
  font-family: 'Dancing Script';
  font-size: 1.3em;
}

.iconesocial {
  margin-bottom: 0.5em;
  width: 70%;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.iconesocial a {
  padding: 0.3em;
}

#itwitter {
  color: #fe654f;
}

#ilink {
  color: #fe654f;
}

#igithub {
  color: #fe654f;
}

@media screen and (min-width: 800px) {
  .home h1 {
    font-size: 2em;
  }
  .home h2 {
    font-size: 1.8em;
  }
}



/* <!-- /////////////////// section about me ////////////// --> */

#about {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* <!-- me and CV download --> */

.aboutfirst {
  text-align: center;
}

.aboutfirst h3 {
  margin: 2em;
}

.aboutfirst p {
  margin: 2em;
  padding-bottom: 1em;
}

.aboutfirst a {
  background-color: #fe654f;
  padding: 1em;
  text-decoration: none;
  color: white;
}

/* <!-- my trainings --> */

.aboutseconde {
  text-align: center;
  margin-top: 4em;
  margin: 2em;
}

.aboutseconde h3 {
  margin-top: 5em;
}

 /* <!-- training Simplon --> */

.simplontraining {
  display: flex;
  flex-direction: column-reverse;
}

.simplontraining p {
  margin: 0;
}

/* <!-- Stage in your compagny :) --> */

.stage {
  margin-top: 3em;
}

.stage p {
  margin: 0;
}


/* <!-- soon --> */


.soontraining {
  display: none;
}

@media screen and (min-width: 800px) {
  #about {
    display: flex;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media screen and (min-width: 1200px) {
  #about {
    height: 92vh;
  }
}

/* <!-- ////////////// section competence acquired ///////////////--> */

#competence {
  text-align: center;
  background-color: #fccb77;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#competence h3 {
  text-align: center;
  margin: 2em;
}


/* <!-- skillbar on my capacity --> */

.allskillbar {
  margin-top: 2em;
  margin-bottom: 3.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.skillbar {
  position: relative;
  margin: 15px 0;
  width: 100%;
  background: #edffec;
  height: 25px;
  border-radius: 50px;
}

.skillbartitle {
  background: #61e786;
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: 700;
  font-size: 0.8em;
  color: #ffffff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 25px;
  line-height: 25px;
}

.skillbarbar {
  height: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* <!-- about me on my skill --> */

.aboutskill {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.aboutskill i {
  font-size: 2em;
}

#idesktop {
  text-align: left;
  color: grey;
}

#ibook {
  text-align: right;
  color: #a27035;
}

.aboutskill p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 800px) {
  .compet {
    align-items: center;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
  }

  .allskillbar {
    width: 45%;
  }

  .aboutskill {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  #competence {
    height: 92vh;
  }
}

/* <!--////////////////// section my projects ////////////////--> */

#projects {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  background-color: #fccb77;
}

#projects h3 {
  margin: 2em;
}

#projects h4 {
  color: black;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 10px;
}

.allprojets a {
  text-decoration: none;
}

/* <!-- first project --> */

.firstprojet img {
  width: 50vh;
  height: 30vh;
}

.firstprojet h4 {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

/* <!-- seconde project --> */

.secondeprojet img {
  width: 50vh;
  height: 30vh;
}

.secondeprojet h4 {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

/* <!-- third project --> */

.thirdprojet img {
  width: 50vh;
  height: 30vh;
}

.thirdprojet h4 {
  margin-top: 0.5em;
}

#separator {
  width: 40%;
  margin: auto;
  border: 3px solid #61e786;
  background-color: #61e786;
}

@media screen and (min-width: 400px) {
  #projects h3 {
    max-width: 200px;
  }
}

@media screen and (min-width: 800px) {

  .iconesocial{
    max-width: 30%;
  }

  .allprojets {
    display: flex;
    justify-content: space-around;
    margin: 3em;
  }

  .firstprojet h4 {
    margin: 0;
  }
  .firstprojet img {
    width: 50vh;
    height: 30vh;
  }

  .secondeprojet h4 {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .secondeprojet img {
    width: 50vh;
    height: 30vh;
  }

  .thirdprojet h4 {
    margin-top: 0em;
    margin-bottom: 0;
  }

  .thirdprojet img {
    width: 50vh;
    height: 30vh;
  }

  #projects h4 {
    font-size: 13px;
  }

}
/* <!-- //////////////////////section form contact ///////////////////////--> */

#contact {
  margin: 2em;
  height: 70vh;
}

#contact h3 {
  text-align: center;
}

/* <!-- form contact --> */

input, textarea {
  text-align: center;
  margin-bottom: 0.5em;
  width: 100%;
  padding: 0.3em 0.3em;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=text], textarea{
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical
}

textarea {
  text-align: left;
}

input[type=submit]{
  width: 30%;
  background-color: #fe654f;
  color: white;
  border: none;
  text-align: center;
}

@media screen and (min-width: 800px) {
  form {
    width: 50%;
    margin: auto;
  }
}
/* <!-- //////////////////////////////////////// END MAIN /////////////////////////////////////////////////// --> */



/* <!-- //////////////////////////////////////// START FOOTER /////////////////////////////////////////////////// --> */

footer {
  background-color: #fe654f;
  padding: 0.1em;
}

footer h5 {
  text-align: center;
}

/* <!-- //////////////////////////////////////// END FOOTER /////////////////////////////////////////////////// --> */



/* <!-- //////////////////////////////////////// START PAGE LOGIN /////////////////////////////////////////////////// --> */

#loginAdmin {
  height: 75.5vh;
  width: 70%;
  margin: auto;
  text-align: center;
}

#loginAdmin h3 {
  text-align: center;
}

/* <!-- //////////////////////////////////////// END PAGE LOGIN /////////////////////////////////////////////////// --> */



/* <!-- //////////////////////////////////////// START PAGE ADMIN /////////////////////////////////////////////////// --> */

.logout {
  background-color: #fe654f;
  padding: 0.5em;
  border-radius: 10px;
  text-decoration-line: none;
  color: white;
}

/* <!-- //////////////////////////////////////// END PAGE ADMIN /////////////////////////////////////////////////// --> */

/* ////////////////////// START MEDIA QUERIES 800px //////////////////////// */
@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
/* ////////////////////// END MEDIA QUERIES 800px //////////////////////// */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
